:root {
  --background-white: #ffffff;
  --background-grey: #f5f4fa;
  --background-dark-grey: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --active-color: #2196f3;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --background-image: rgba(47, 48, 58, 0.4);
  --icons-inactive: #afb1b8;
  --icons-inactive-footer: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

svg {
  vertical-align: middle;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.container h1 {
  margin-left: 252px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-white);
  text-align: center;
}

.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
  margin-left: -15px;
}

.paragraphs h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.paragraphs p {
  margin-top: 10px;
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon {
  display: flex;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ICONS */

.icons-container {
  padding: 25px 102.34px;
  margin-bottom: 30px;
  width: 270px;
  background: var(--background-grey);
  border-radius: 4px;
}

.team-media-icons {
  fill: var(--icons-inactive);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-icons {
  fill: var(--background-white);
}

.team-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.team-icons > li {
  background-color: transparent;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons li:hover,
.footer-icons li:focus,
.team-icons > li:hover,
.team-icons > li:focus {
  background-color: var(--active-color);
}
.team-icons > li:hover > .team-media-icons,
.team-icons > li:focus > .team-media-icons {
  fill: var(--background-white);
}

.contacts-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER and FOOTER*/

.header {
  border-bottom: 1px solid #ececec;
}

.header-elements {
  justify-content: space-between;
  display: flex;
}

.header-elements nav,
.header-elements ul {
  display: flex;
}

.footer {
  display: flex;
  background: var(--background-dark-grey);
  background-color: var(--background-dark-grey);
}

.footer > section {
  display: flex;
}

.footer-elements {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-elements .logo {
  margin: 0px;
}

.footer-icons {
  box-sizing: border-box;
  display: block;
  margin-top: 72px;
  margin-left: 70px;
}

.footer-icons > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-icons li {
  background-color: var(--icons-inactive-footer);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms;
}

.footer-icons > span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white);
  margin-bottom: 20px;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-white {
  color: var(--background-white);
}

.logo-black {
  color: var(--title-color);
}

/* NAVIGATION & CONTACTS HEADER */

.navigation > li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation li:not(:last-child) {
  margin-right: 46px;
}
.navigation li {
  position: relative;
}
.navigation .active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--active-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.navigation li:hover > a::after,
.navigation a:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--active-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.navigation .active a {
  color: #2196f3;
}

.navigation {
  list-style-type: none;
  margin-left: 93px;
  margin-top: 32px;
}

.contacts-header a:hover,
.contacts-header a:focus,
.contacts-footer a:hover,
.contacts-footer a:focus,
.navigation a:hover,
.navigation a:focus {
  color: var(--active-color);
}

.contacts-header a:hover > .contacts-icon,
.contacts-header a:focus > .contacts-icon {
  fill: var(--active-color);
}

.contacts-header {
  margin-top: 32px;
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header li:first-child {
  margin-right: 50px;
}

.contacts-footer a,
.contacts-header a,
.navigation a {
  text-decoration: none;
  color: var(--text-color);
}

.contacts-header a {
  fill: currentColor;
}

.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-footer);
  margin-top: 20px;
}

.contacts-footer li {
  list-style-type: none;
  line-height: 1.5;
}

.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer span {
  color: var(--background-white);
}

/* MAIN PORTFOLIO */

.portfolio {
  display: block;
}

.buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.buttons button:hover,
.buttons button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons button {
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons li:not(:last-child) {
  margin-right: 8px;
}

.buttons button:hover,
.buttons button:focus {
  color: var(--background-white);
  background: var(--active-color);
}

.projects {
  margin-top: 56px;
  list-style-type: none;
  background-color: var(--background-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projects-transform-card {
  position: relative;
  overflow: hidden;
}

.projects-transform-card > img {
  display: block;
}

.projects-transform {
  position: absolute;
  bottom: -294px;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects li:hover .projects-transform {
  transform: translateY(-294px);
}

.projects-transform > p {
  color: var(--background-white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  margin: 49px 45px 49px 24px;
}

.projects li {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects li:hover,
.projects li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-names {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-categories {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.img-text {
  background-color: var(--background-white);
  padding: 24px 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.img-text > figcaption > span {
  display: block;
}

/* MAIN INDEX */

.main-section {
  background-color: var(--background-dark-grey);
  background-image: linear-gradient(
      to bottom,
      var(--background-image),
      var(--background-image)
    ),
    url(../images/background.jpg);

  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-section div {
  text-align: center;
}

.main-section button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-white);
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 42px;
  margin-top: 30px;
}

.paragraphs ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.paragraphs li:not(:last-child) {
  margin-right: 30px;
}

.work {
  justify-content: center;
  display: flex;
  list-style-type: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  justify-content: flex-start;
}

.work-title {
  position: relative;
  overflow: hidden;
}

.work-title > img {
  display: block;
}

.work-title-overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-white);

  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.work li:not(:last-child) {
  margin-right: 30px;
}

.third-section {
  margin-top: -94px;
}

.team-img {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.team-img > li {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
}

.team-img > li:not(:last-child) {
  margin-right: 30px;
}

.employees {
  background: var(--background-grey);
}

.employees-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.employees-jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.employees-text {
  padding: 30px;
  padding-bottom: 16px;
}

.client-icons {
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons-container {
  display: flex;
  width: 170px;
  height: 92px;
  border: var(--icons-inactive) solid 1px;
  fill: var(--icons-inactive);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons-container:hover,
.client-icons-container:focus {
  border-color: var(--active-color);
  fill: var(--active-color);
}

.client-icons-container:hover > .client-icons,
.client-icons-container:focus > .client-icons {
  border-color: var(--active-color);
  fill: var(--active-color);
}

.clients {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* BACKDROP & MODAL */

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
}

.modal {
  position: absolute;
  transform: translateY(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden div {
  transform: scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.footer-for form {
  display: flex;
}

.footer-for button {
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-white);
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  margin-top: 108px;
  margin-bottom: 94px;
  padding: 10px 28px 10px 42px;
}

.footer-for label {
  width: 358px;
  box-sizing: content-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white);
  margin-bottom: 20px;
  margin-top: 72px;
  margin-left: 78px;
}

.footer-for input {
  background-color: var(--background-dark-grey);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  margin-top: 20px;
}

.footer-for svg {
  fill: var(--background-white);
  margin-left: 24px;
}

.modal p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-data {
  display: flex;
  margin-left: 40px;
  margin-bottom: 10px;
}
.modal-data input {
  margin-right: 40px;
  margin-top: 4px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-textarea textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
}

.modal-textarea textarea:is(:hover, :focus) {
  border-color: var(--active-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
}

.modal-checkbox a {
  color: var(--active-color);
  text-decoration: underline;
}

.modal-checkbox div {
  position: relative;
  border: 2px solid var(--title-color);
  width: 16px;
  height: 15px;
  border-radius: 3px;
  margin-right: 8px;
}

.svg-checked {
  opacity: 0;
  position: absolute;
  top: -1px;
  left: -1px;
}

.modal-checkbox input {
}

.input-checked:checked + .svg-checked {
  opacity: 1;
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-send-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-white);
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 76px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-data {
  display: flex;
  flex-direction: column;
}

.modal-data div {
  position: relative;
  margin-top: 10px;
}

.modal-data label:last-child svg {
  position: absolute;
  top: 32px;
}

.modal-data label {
  display: flex;
  position: relative;
  margin-top: 10px;
}

.modal-data svg {
  position: absolute;
  left: 15px;
  top: 34px;
}

.modal-data input {
  width: 448px;
  padding-left: 42px;
}

.modal-data > label > input:is(:hover, :focus) + svg {
  fill: var(--active-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-data > label > input:is(:hover, :focus) {
  border-color: var(--active-color);
}
